@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Meow+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --principal:'Courier New', Courier, monospace;
    --secund:"Meow Script", cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--principal);
    
}
html,body{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color:white;
    text-align: center;
    font-family: var(--secund);
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header>p{
    padding-bottom: 50px;
}
header a,footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover,footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    padding: 20vh 10% 20vh 10%
}
 #img02{
    background-image: url(./imagens/background001.jpg);
     background-position: right center;
     background-size: cover;
}
 #img01{
    background-image: url(./imagens/background002.jpg);
    background-position: right center;
    background-size: cover;

}
.normal{
    background-color: white;
    color: black;
}
section.imagem>p{
    width: 400px;
    border-radius: 30px;
    padding: 20px;
    background-color:rgba(34, 32, 32, 0.489) ;
    text-shadow: 1px 1px 1px black;
}
.imagem{
     background-color: rgb(16, 16, 16);
    color: white;
    box-shadow: inset 5px 5px 6px rgba(0, 0, 0, 0.234);
    background-attachment: fixed;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
